-show_links ||= 'true'
-hex_color ||= light.status(@nrs_rgb_lights)[:hex_color]
-if show_links == 'true'
  -['#ff0000', '#00ff00', '#0000ff', '#ff00ff', '#ffff00', '#00ffff'].each do |rgb|
    =link_to "javascript: setColor('#rgb_form_#{light.id}', '#{rgb}');" do
      .color-patch{style: "background-color: #{rgb}"}
%div{style: "display: inline-block;"}
  =form_with(url:set_color_light_path(light), method: 'post', id: "rgb_form_#{light.id}") do |f|
    =f.color_field "color[rgb]", value: "##{hex_color}"
    =f.submit "Set"

