.flex.flex-row.justify-between.py-5
  %h1.text-3xl Listing Lights
  .action-new=link_to 'New Light', new_light_path

%h3 Configured Lights
%div{class: "relative overflow-x-auto shadow-md sm:rounded-lg"}
  %table{class: "w-full text-sm text-left text-gray-500 dark:text-gray-400"}
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th Room
        %th Entity
        %th Name
        %th Status
        %th
        %th

    %tbody
      - @lights.each do |light|
        - light_status = light.status(@nrs_rgb_lights) # {state: 'on|off', rgb_color: [r, g, b]}
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %td= link_to light.room&.name, light.room
          %td= link_to light.entity_id, light
          %td= light.name
          %td= light_status[:state]
          %td= render 'lights/color_picker', light: light, hex_color: light_status[:hex_color], show_links: 'false'
          %td= link_to 'Destroy', light, data: { confirm: 'Are you sure?' }, method: :delete

%h3 Unconfigured Lights
%div{class: "relative overflow-x-auto shadow-md sm:rounded-lg"}
  %table{class: "w-full text-sm text-left text-gray-500 dark:text-gray-400"}
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th Entity
        %th Friendly Name
        %th 

    %tbody
      - @nrs_rgb_lights.each do |l|
        -next if Light.find_by(entity_id: l['entity_id']).present?
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %td= l['entity_id']
          %td= l['attributes']['friendly_name']
          %td
            =form_for(:light) do |f|
              =f.hidden_field :entity_id, value: l['entity_id']
              =f.hidden_field :name, value: l['attributes']['friendly_name']
              =f.collection_select :room_id, Room.all, :id, :name
              =f.submit "Quick Add"

- if params[:debug]
  %h3 RGB Lights
  - @nrs_rgb_lights.each do |l|
    = l.inspect
