.flex.flex-row.justify-between.py-5
  %h1.text-3xl Showing #{@rooms.count} Rooms
  .action-new= link_to 'Add Room', new_room_path

.grid.grid-cols-1.gap-8.mx-5{class: "md:grid-cols-4"}
  -@rooms.each do |room|
    .max-w-sm.rounded.overflow-hidden.shadow-lg.mb-10
      .bg-sky-800.text-white.px-6.py-3
        .flex.flex-row.justify-between
          .text-xl=link_to room.name, room
          %div
            -if room.door_contact_id.present?
              -door_contact_entity = @entities.detect{|e| e['entity_id'] == room.door_contact_id}
              -door_contact_state = door_contact_entity['state'] rescue nil
              -door_style = door_contact_state == 'on' ? ["open", "#888888"] : ["closed", "#ffffff"]
              -if door_contact_entity.present?
                .fa.fa-light{class: "fa-door-#{door_style[0]}", style: "color: #{door_style[1]}", "data-tooltip-target"=>"door-contact-#{room.door_contact_id}", "data-tooltip-trigger"=>"hover"}
                %div{id:"door-contact-#{room.door_contact_id}", role:"tooltip", class:"inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-black bg-gray-300 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"}
                  ="#{room.door_contact_id} is #{door_style[0]} as of #{time_ago_in_words(Time.zone.parse(door_contact_entity.dig('last_updated')))} ago"              
            -if room.speaker_id.present?
              .fa.fa-light.fa-volume-low
            -room.lights.each do |l|
              .fa.fa-light.fa-lightbulb
      -room.sensors.each do |sensor|
        .relative.pt-0
          .overflow-hidden.h-2.mb-4.text-xs.flex.bg-sky-300
            -if sensor.battery_level.present?
              -if sensor.battery_level > 25
                .shadow-none.flex.flex-col.text-center.whitespace-nowrap.text-white.justify-center.bg-green-500{style:"width:#{sensor.battery_level}%", "data-tooltip-target"=>"sensor-battery-#{sensor.id}", "data-tooltip-trigger"=>"hover"}
              -else
                .shadow-none.flex.flex-col.text-center.whitespace-nowrap.text-white.justify-center.bg-red-600{style:"width:#{sensor.battery_level}%", "data-tooltip-target"=>"sensor-battery-#{sensor.id}", "data-tooltip-trigger"=>"hover"}
        %div{id:"sensor-battery-#{sensor.id}", role:"tooltip", class:"inline-block absolute invisible z-10 py-2 px-3 text-sm font-medium text-black bg-gray-300 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"}
          ="#{sensor.battery_level}% remaining - #{sensor.name} as of #{time_ago_in_words(sensor.last_seen_date)} ago"
      .flex.flex-row.justify-between
        .px-5.py-3
          .font-bold Quiet Hours
          .text-sm= room.quiet_hours.presence || "---"
        .px-5.py-3
          .font-bold Cooldown Seconds
          .text-sm= room.cooldown_seconds.presence || "---"
      .px-5.py-3.text-sm="(#{room.door_contact_battery_level}) #{room.door_contact_id}"
      .px-5.py-3.text-sm= room.speaker_id

%div{class: "relative overflow-x-auto shadow-md sm:rounded-lg"}
  %table{class: "text-sm w-full text-left text-gray-500 dark:text-gray-400"}
    %thead{class: "text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400"}
      %tr
        %th=sort_link(@q, :name)
        %th=sort_link(@q, :quiet_hours)
        %th=sort_link(@q, :cooldown_seconds)
        %th=sort_link(@q, :door_contact_id)
        %th=sort_link(@q, :speaker_id)
        %th Messages
        %th Lights

    %tbody
      - @rooms.each do |room|
        %tr{class: "bg-white border-b dark:bg-gray-800 dark:border-gray-700"}
          %td.flex
            = link_to room.name, room, class: 'action-primary w-full'
          %td= room.quiet_hours
          %td= room.cooldown_seconds
          %td= "(#{room.door_contact_battery_level}) #{room.door_contact_id}"
          %td= room.speaker_id
          %td
            %ul
              -room.door_messages.each do |m|
                %li=link_to m.message, m
          %td
            %ul
              -room.lights.each do |l|
                %li=link_to l.name, l
