= form_for @door_message, html: { class: "form-horizontal", role: "form" } do |f|
  -if @door_message.errors.any?
    .alert.alert-danger.alert-dismissable{role: "alert"}
      %button.close{type: "button", data: {dismiss: "alert"} }
        %span{aria: {hidden: "true"} } &times;
        %span.sr-only Close
      %h4= "#{pluralize(@door_message.errors.count, "error")} prohibited this door_message from being saved:"

      %ul
        - @door_message.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :message, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :message, class: 'form-control'
  .form-group
    = f.label :room, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.collection_select :room_id, Room.all, :id, :name
  .form-group
    .col-sm-offset-2.col-sm-10
      = f.submit class: 'btn btn-primary'
