!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "A room-centric view of your Smart Home", name: "description"}
    %meta{content: "Darren Hicks", name: "author"}
    %title Smart Rooms

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"
    %link{rel:"stylesheet", href:"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"}
    = stylesheet_link_tag    'application', 'data-turbo-track' => "reload"
    = javascript_include_tag 'application', 'data-turbo-track' => "reload", defer: true
    = csrf_meta_tags
  %body
    %nav{class: "flex items-center justify-between flex-wrap bg-teal-500 p-4"}
      %div{class: "flex items-center flex-shrink-0 text-white mr-6"}
        %a{href: rooms_path}
          %span{class: "font-semibold text-3xl tracking-tight"} Smart Rooms
      %button{"data-collapse-toggle"=>"mobile-menu", type:"button", class:"inline-flex justify-center items-center ml-3 text-gray-400 rounded-lg md:hidden hover:text-gray-900 focus:outline-none focus:ring-2 focus:ring-blue-300 dark:text-gray-400 dark:hover:text-white dark:focus:ring-gray-500", "aria-controls"=>"mobile-menu-2", "aria-expanded"=>"false"}
        %svg{class:"fill-current h-3 w-3", viewBox:"0 0 20 20", xmlns:"http://www.w3.org/2000/svg"}
          %title Menu
          %path{d:"M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"}
      %div.hidden.w-full{id: "mobile-menu", class: "md:block md:w-auto"}
        %ul{class: "w-full block flex-grow lg:flex lg:items-center lg:w-auto"}
          %li
            %a{href: rooms_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"} Rooms
          %li
            %a{href: door_messages_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"} Messages
          %li
            %a{href: lights_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"} Lights
          %li
            %a{href: sensors_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"} Sensors
          %li
            %a{href: skunk_works_path, class: "block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4"} SkunkWorks

    .container.auto-mx.px-4
      - flash.each do |name, msg|
        = content_tag :div, class: "alert alert-#{name == :error ? "danger" : "success" } alert-dismissable", role: "alert" do
          %button.close{type: "button", data: {dismiss: "alert"} }
            %span{aria: {hidden: "true"} } &times;
            %span.sr-only Close
          = msg
      = yield
